
@@font-face {
  font-family: 'inherit';
  src: url('/Users/trademark/Documents/Tyson McCrary/FONTS');
}

h1 {font-family: inherit;}
h1 {color: white;}
h2 {color: white;}
h3 {color: white;}
p {font-family:'inherit';}
p {color: white;}
label {color: white;}
i {font-size: 300%;}
a {color: darkred;}
body {background-color: steelblue;
      margin-left: 10px;
}
 #photo {
   float: left;
   margin-right: 10px;
}

#wrap {
  background-color: white;
  border: solid 2px;
  border-radius: 5px;
  border-color: black;
}


#blockquote {
float: right;
width: 200px;
font-size: 130%
font-style: italic;
font-family: Georgia, Times. serif;
margin: 0px 10px 10px 10px;
padding: 25px;
border-top: 2px solid white;
border-bottom: 2px solid white;
}


.hidden {display: none;}

#background {
  background-color: white;
  margin: 10px 10px 10px 10px;
}

.home{
  background-color: gold;
  margin: 0px 400px 0px 0px;
  padding: 10px;
  border: 2px solid;
  border-color: white;
  border-radius: 5px
}

#footer {
  text-align: center;
  h7 color: black;
  background-color: darkgray;
  margin: 0px 10px 0px 10px;
  padding: 10px;
  font-style: normal;
  border: solid 2px;
  border-radius: 5px;
}

#header {
  display: inline;
  margin: 0px auto 0px auto;
  font-size: 200%;
  font-style: normal;
  text-align: center;
}

.info {
  background-color: darkred;
  padding: 5px 10px;
  border: 2px solid;
  border-color: white;
  border-radius: 5px;
}

#contact_form {
  width: 500px;
  margin: 0 auto 0 auto;
  margin-top: 100;
  background-color: gray;
  border-radius: 10px;
}
input,textarea {
  margin-left: 30px;
  padding: 10px 15px;
  border: 3px solid;
  border-color: darkred;
  border-radius: 5px;
}
