
h1 {font-family: verdana;}
h1 {color: white;}
p {color: white;}
i {font-size: 300%;}
li {color: white}
a {color: white;}
body {background-color: black;}

<style type="text/css">
html, body {
  overflow: hidden;
}
</style>
