
h1 {font-family: verdana;}
h1 {color: white;}
p {color: white;}
label {color: white;}
i {font-size: 300%;}
li {color: white}
a {color: white;}
body {background-color: black;}

.hidden {display: none;}



#logo {
  display: inline;
    width: 150px;
    height: 75px;
    margin: 10px;

}

#links {
  display: inline;
  margin: 0px auto 0px auto;
  font-size: 200%;
  font-style: normal;
  text-align: center;
  }



#contact_form {
  width: 400px;
  margin: 0 auto;
  margin-top: 100;
  background-color: #aa3333
}
input,textarea {
  padding: 10px 15px
}
